.mainTask {
    transition: transform .4s ease;
    position: relative;
    z-index: 100;
    border: none;
    background: transparent;
}

.mainTask:hover {
    z-index: 100;
    transform: scale(1.1);
}

.mainTask::after {
    content: '';
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(68deg,
            hsl(290deg 90% 32%) 0%,
            hsl(290deg 90% 32%) 13%,
            hsl(290deg 89% 33%) 19%,
            hsl(291deg 89% 34%) 24%,
            hsl(291deg 89% 34%) 28%,
            hsl(291deg 89% 35%) 32%,
            hsl(291deg 88% 36%) 35%,
            hsl(292deg 88% 36%) 39%,
            hsl(292deg 88% 37%) 42%,
            hsl(292deg 88% 38%) 45%,
            hsl(292deg 88% 38%) 48%,
            hsl(293deg 88% 39%) 52%,
            hsl(293deg 87% 40%) 55%,
            hsl(293deg 87% 40%) 58%,
            hsl(293deg 87% 41%) 61%,
            hsl(294deg 87% 41%) 65%,
            hsl(294deg 87% 42%) 68%,
            hsl(294deg 87% 43%) 72%,
            hsl(294deg 87% 43%) 76%,
            hsl(295deg 88% 44%) 81%,
            hsl(295deg 88% 44%) 87%,
            hsl(295deg 88% 45%) 100%) 0 0 / 150% 150%;
    animation: moveGradient 10s alternate infinite;
}

.mainTask::before {
    content: '';
    display: block;
    position: absolute;
    top: -.25rem;
    left: -.25rem;
    border-radius: .5rem;
    width: calc(100% + .5rem);
    height: calc(100% + .5rem);
    z-index: -100 !important;
    filter: blur(4px);
}

.mainTask:hover::before {
    background: linear-gradient(60deg,
            hsl(240deg 100% 20%) 0%,
            hsl(304deg 100% 23%) 3%,
            hsl(329deg 100% 36%) 7%,
            hsl(346deg 83% 51%) 11%,
            hsl(17deg 100% 59%) 14%,
            hsl(40deg 100% 50%) 18%,
            hsl(55deg 100% 50%) 22%,
            hsl(91deg 84% 61%) 26%,
            hsl(155deg 100% 46%) 30%,
            hsl(175deg 100% 43%) 34%,
            hsl(191deg 100% 49%) 38%,
            hsl(198deg 100% 50%) 42%,
            hsl(205deg 100% 50%) 46%,
            hsl(255deg 97% 76%) 50%,
            hsl(309deg 84% 71%) 54%,
            hsl(332deg 100% 71%) 59%,
            hsl(0deg 100% 74%) 63%,
            hsl(29deg 100% 63%) 68%,
            hsl(46deg 100% 50%) 72%,
            hsl(28deg 100% 64%) 77%,
            hsl(358deg 100% 75%) 81%,
            hsl(329deg 100% 73%) 86%,
            hsl(301deg 76% 73%) 91%,
            hsl(245deg 100% 79%) 95%,
            hsl(202deg 100% 50%) 100%) 0 50%/400% 400%;
    animation: moveGradient 10s alternate infinite;
}

.taskLabel {
    font-size: 1.1rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ffffff4f;
    color: white !important;

    resize: none;
    height: fit-content;
}

.taskLabel:focus {
    outline: none;
}

.taskLabelWrapper {
    overflow: hidden;
    position: relative;
    width: 90%;
}

.taskLabelWrapper::before {
    content: '';
    position: absolute;
    height: 2px;
    top: 78%;
}

.taskLabelWrapper:focus-within::before {
    width: 100%;
    animation: inputFocus 2s linear infinite;
    background-size: 1000% 1000%;
    background: linear-gradient(-45deg, #7452ee, #e73c7e, #ff004c, #1edaa8);
}

@keyframes inputFocus {
    0% {
        left: -100%;
    }

    50% {
        left: 20%;
        width: 70%;
    }

    100% {
        left: 100%;
        width: 100%;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}